.gameOverBack
{

        -fx-background-size: cover;
}
.gameScore
{

         -fx-background-image:url('images/YourScore.png');
}


.root{
     -fx-background-image:url('images/knight-chess-attack.jpg');
     -fx-background-size:cover;
}
.sandal
{
     -fx-background-image:url('images/backQ.jpg');

}
.backGroundQ{

         -fx-background-image:url('images/backQ.jpg');
}
.myGameBackGround{
     -fx-background-image:url('images/KnightsMoveBackGround.jpg');
     -fx-background-size:cover;
}
.goToGameOver{
     -fx-background-image:url('images/gameOverGif.gif');
     -fx-background-size:cover;
}
.GameOverBackGround{
     -fx-background-image:url('images/WoodenGame.jpg');
     -fx-background-size:cover;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}



.lb
{
	-fx-text-fill: white;
	-fx-font: bold 18pt "Antiqua";

}
.btn
{

	-fx-text-fill: #fff;
	-fx-font: bold 10pt "Antiqua";
	-fx-background-color: #A0793D;


}

.anchor {

-fx-background-size: contain;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
    -fx-background-image:url('file:///C:/Users/the_l/eclipse-workspace/Big3/src/Images/Restimg2.jpg');
}
.anchor1 {

-fx-background-size: contain;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
    -fx-background-image:url('file:///C:/Users/the_l/Desktop/Big3/src/Images/Jiryis.png');
}




.icon1
{
	    -fx-image: url(file:///C:/Users/the_l/Desktop/Big3/src/application/plus.png)

}

.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #28a3f4;
}

.myCombo
{

}
.myCombo:odd
{
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);

}


.choice-box {
  -fx-background-color: white;
  -fx-mark-color: orange;
  -fx-border-color: grey
}


.menu-bar{
  -fx-background-color: peru;
  -fx-border-color:  #f0cd90;
 -fx-border-width: 2

}

.menu-bar .label {
    -fx-font-size: 25 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: #bc784e;
}

.menu-item .label{
     -fx-font-size: 18 pt;
    -fx-label-padding: 8;

        -fx-font-family: "Arial Narrow";
         -fx-font-weight: bold;
}


.button1 {
	-fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: white;
}
.button2 {
	-fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: white;

}

.cb1{
   -fx-cursor: hand;
     -fx-font-size: 16;
    -fx-border-insets: -5;
     -fx-border-radius: 3;
     -fx-border-style: dotted;
     -fx-border-width: 2;
}


list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-text-fill: black; /* 5 */
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);

}
.list-cell { /* 5 */ }
.list-cell:odd {
  -fx-text-fill: white;
  -fx-background-color: #966F33; /* 1 */ }
.list-cell:even {
 -fx-text-fill: black;
 -fx-background-color: #F5F5DC; /* for information */ }
.list-cell:filled:hover {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058); /* 2 */
    -fx-text-fill: white; /* 5 */
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-wrap-text:true;
}
.radio-button .radio {
  -fx-selected-color:linear-gradient(#61a2b1, #2A5058);
    -fx-border-width: 1px;

    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-selected-color:linear-gradient(#61a2b1, #2A5058);

}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;

}
.radio-button:selected .radio .dot {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-background-insets: 0;
}


.text-field:focused {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058) , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

