.root{
     -fx-background-image:url('images/knight-chess-attack.jpg');
     -fx-background-size:cover;
}
.myGameBackGround{
     -fx-background-image:url('images/KnightsMoveBackGround.jpg');
     -fx-background-size:cover;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.list-cell
{   -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}


.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: white;
}

.myLabelsHome
{

}